<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <h1>Ракета-носитель (РН)</h1>
    <p>
        Ракета-носитель (РН, также ракета космического назначения, РКН) — многоступенчатая
        баллистическая ракета, предназначенная для выведения полезной нагрузки в космическое пространство.
        Иногда термин «ракета-носитель» применяется в расширенном значении:
        ракета, предназначенная для доставки в заданную точку (в космос,
        в отдаленный район Земли или океана) полезной нагрузки — например,
        искусственных спутников Земли, космических аппаратов, ядерных и
        неядерных боевых блоков. В такой трактовке термин «ракета-носитель» объединяет
        термины «ракета космического назначения» (РКН) и «межконтинентальная баллистическая ракета» (МБР).
    </p>
</body>
</html>