<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Ракета-носитель (РН)</h1>
    <p>
        Ракета-носитель (РН, также ракета космического назначения, РКН) — многоступенчатая
        баллистическая ракета, предназначенная для выведения полезной нагрузки в космическое пространство.
        Иногда термин «ракета-носитель» применяется в расширенном значении:
        ракета, предназначенная для доставки в заданную точку (в космос,
        в отдаленный район Земли или океана) полезной нагрузки — например,
        искусственных спутников Земли, космических аппаратов, ядерных и
        неядерных боевых блоков. В такой трактовке термин «ракета-носитель» объединяет
        термины «ракета космического назначения» (РКН) и «межконтинентальная баллистическая ракета» (МБР).
    </p>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://deita.ru/images/articles/30092022_124855_334995_lg.jpg" class="d-block w-1" alt="0">
            </div>
            <div class="carousel-item">
                <img src="https://s0.rbk.ru/v6_top_pics/resized/590xH/media/img/2/32/755392557804322.jpeg" class="d-block w-1" alt="1">
            </div>
            <div class="carousel-item">
                <img src="https://img.vz.ru/upimg/959/959320.jpg" class="d-block w-1" alt="1">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>